*{
	font-family: 'lato';
}



 .colorrr{
	 color: maroon;
 }

 .colorrr.maroon {
	color: #FFB300;
	cursor: pointer;
 }


 .colorrr button:hover{
	 color: maroon;
	 cursor: pointer;
 }

 .colorrr i:hover{
	 color: maroon;
 }




.head{
  /*background-color: #616161;*/
	min-height: 70px;
  height: 9vh;
	display: flex;
		justify-content: space-around;
	width: 100%;

}

.naver{
	display: flex;
	color: #616161;
	justify-content: space-around;
	width: 400px;
	font-size: 1.2rem;
}

.head button{
  background-color: Transparent;
	color: #616161;
	outline: none;
	transition: 1.5s;
}


.head button:hover{
	transform: scale(1.2);
	transition: .2s;
}

.nav-logo{
	color: #fff;
	font-size: 50px;
	min-height: 50px;
	padding-left: 20px;
}

.bottom{
  background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60px;
  position: fixed;
  bottom: 0px;
  width: 100%;
	margin-top: 100px;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
	/*border-top:  1px solid #e0e0e0 ;*/
}

#links{
	position: fixed;
	color: #616161;
}

i{
	color:#616161;
}


#twitter{
	height: 50px;
}


/*LANDING PAGE*/
.main-title{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	font-size: 20vw;
	cursor: pointer;

}





/*ABOUT PAGE*/
.sub-header{
	display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	padding: 20px 0px;
}

.sub-header h2{
	font-size: 15vw;
	color: maroon;
}

underliner{
	background-color: #e0e0e0;
	height: 5px;
	width:20vw;
}

.word-container{
	max-width: 1000px;
	margin: 0 auto;
}

.about p{
	padding: 0px 35px 50px;
	text-align:center;
	font-size: 3vh;
	padding-bottom: 100px;
}

.about img{
	margin-top: 20px;
	border-radius: 100%;
	height: 250px;
}

/*SKILLS*/

.skills-container{
	padding-top: 10px;
	max-width: 748px;
	margin: 0 auto;
}


.love{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:space-around;

}

.skill{
	display: flex;
	flex-direction: column;
	align-items:center;

}

.skill img{
	width: 11rem;
	height: 11rem;
	padding-bottom: 10px;
	margin: 0 6px;
}

.skill h3{
	font-size: 1.2rem;
	color: #616161;
	padding-bottom: 70px;
}





/*porfolio*/

.portfolio-container{
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 15px;
}

.portfolio{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:center;
	padding-bottom: 60px;
}

.portfolio-item:nth-child(1){
	background-image: url('../images/white.jpg');
	background-repeat: no-repeat;
}

.portfolio-item:nth-child(2){
	background-image: url('../images/blue.jpg');
	background-repeat: no-repeat;
}

.portfolio-item:nth-child(3){
	background-image: url('../images/orange.jpg');
	background-repeat: no-repeat;
}

.portfolio-item:nth-child(4){
	background-image: url('../images/green.jpg');
	background-repeat: no-repeat;
}

.portfolio-item:nth-child(5){
	background-image: url('../images/redpink.jpg');
	background-repeat: no-repeat;
}

.portfolio-item:nth-child(6){
	background-image: url('../images/black.jpg');
	background-repeat: no-repeat;
}



.portfolio-item{
	min-height: 180px;
	width: 360px;
	background-color: red;
	margin: 1px 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	cursor: pointer;
	opacity: 1;
}



.portfolio-item h2{
	opacity: 0;
	color: #e0e0e0;
}


.overlay{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 180px;
	width: 360px;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}


.overlay:hover{
	opacity: 1;
}



/*EASTER EGG*/

.bottom-dino{
	padding-bottom: 70px;
}
