<div class="about">

	<div class='sub-header'>
		<h2>about</h2>
		<underliner class="colorrr"></underliner>
		<img src="images/me.jpg">
	</div>

	<div class="word-container">
		<p>Lorizzle rizzle gangsta sit amizzle, yo mamma adipiscing you son of a bizzle.<br> Nullam i saw beyonces tizzles and my pizzle went crizzle check out this, break yo neck, yall volutpizzle, suscipit quis, gravida vizzle, hizzle.<br> Pellentesque ma nizzle that's the shizzle. Curabitizzle tellizzle urna, pretium fo shizzle, mattizzle ma nizzle, eleifend own yo', nunc. suscipizzle.<br> Integer semper velizzle sizzle purus.</p>
	</div>
</div>
