<div class='sub-header'>
	<h2>portfolio</h2>
	<underliner></underliner>
</div>

<div class="portfolio-container">
	<div class="portfolio">
		<div portfolio-directive class='portfolio-item'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item'><div class="overlay"><h2>twitter clone</h2></div></div>
		<div portfolio-directive class='portfolio-item'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item'><div class="overlay"><h2>coming soon</h2></div></div>
	</div>
</div>
