<div class='sub-header'>
	<h2>portfolio</h2>
	<underliner></underliner>
</div>

<div class="portfolio-container">
	<div class="portfolio">
		<div portfolio-directive class='portfolio-item1 children'><div class="overlay"><h2>coming soon</h2></div></div>
		<a href="http://jessehancock.github.io/twitter-clone/">
			<div portfolio-directive class='portfolio-item2 children'>
				<div class="overlay">
					<h2>twitter clone</h2>
					<p>a clone of twitter using html, css, and jquery</p>
				</div>
			</div>
		</a>
		<div portfolio-directive class='portfolio-item3 children'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item4 children'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item5 children'><div class="overlay"><h2>coming soon</h2></div></div>
		<div portfolio-directive class='portfolio-item6 children'><div class="overlay"><h2>coming soon</h2></div></div>
	</div>
</div>
