<div class='sub-header'>
	<h2>skills</h2>
<underliner></underliner>
</div>
<div class ='skills-container'>
	<div class='love'>
		<div class='skill animated pulse'>
			<img src="./images/angular-color.svg"/>
			<h3>angular</h3>
		</div>
		<div class='skill animated pulse'>
			<img src="./images/css3-color.svg"/>
			<h3>css3</h3>
		</div>
		<div class='skill animated pulse'>
			<img src="./images/html5-color.svg"/>
			<h3>html5</h3>
		</div>
		<div class='skill animated pulse'>
			<img src="./images/javaScript_logo_2.svg"/>
			<h3>javascript</h3>
		</div>
		<div class='skill animated pulse'>
			<img src="./images/git.svg"/>
			<h3>git</h3>
		</div>
		<div class='skill animated pulse'>
			<img src="./images/jquery-icon.png"/>
			<h3>jquery</h3>
		</div>
	</div>

</div>
